#morpion-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
  width: 500px;
  height: 500px;
}

#morpion-container .case {
  border: solid 1px var(--bs-dark);
}